

<div class="navbar bg-base-100">
    <div class="navbar-start">
        <app-drawer></app-drawer>
        <a class="normal-case text-xl ml-10">{{fullname ? fullname:
            'Usuario Anonimo'}}</a>

    </div>
    <div class="navbar-center">
        <a class=" normal-case text-2xl font-extrabold">{{textNavbar}}</a>
    </div>
    <div class="navbar-end mr-3">
        <div class="tooltip tooltip-left" data-tip="Log Out">
            <a class="btn btn-circle text-lg" routerLink="/login"
                (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>

    </div>
</div>
