<div class="drawer z-20">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <!-- Page content here -->
        <label for="my-drawer" class="btn btn-primary drawer-button text-sm">
            <i class="fa-solid fa-bars"></i> Drawer
        </label>
    </div>
    <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
            <!-- Sidebar content here -->
            <li><a routerLink="/home"> <i class="fa-solid fa-house"></i>Home</a></li>
            <li><a routerLink="/registros-api"><i class="fa-solid fa-users-line"></i>Usuarios
                    (RandomUser)</a></li>
            <li><a> <i class="fa-solid fa-ghost"></i>Pokemones</a></li>

        </ul>
    </div>
</div>
